<h2> Sign up </h2>

<% if @user && @user.errors.any? %>
    <% @user.errors.full_messages.each do |m| %>
        <p class = "danger"> <%= m %> </p>
    <% end %>
<% end %>

<form action="/signup" method="post">
    <input type="text" placeholder="Name" name="name">
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <input type="text" placeholder="Email" name="email">
    <input type="submit" value="Sign Up">
</form>

<a href="/login"> Log In </a>