<h2> Sign up </h2>

<% if @user && @user.errors.any? %>
    <% @user.errors.full_messages.each do |m| %>
        <p class = "danger"> <%= m %> </p>
    <% end %>
<% end %>

<form action="/signup" method="post">
    <label for="name">Name:</label>
    <input type="text" placeholder="Name" name="name">
    <label for="username">Username:</label>
    <input type="text" placeholder="Username" name="username">
     <label for="email">Email:</label>
    <input type="text" placeholder="Email" name="email"><br><br><br>
    <label for="password">Password:</label>
    <input type="password" placeholder="Password" name="password">
    <label for="password_confirmation">Confirm your Password:</label>
    <input type="password" placeholder="Confirm Password" name="password_confirmation"><br><br>

    <input type="submit" value="Sign Up"><br>
</form>
<br><br>
