<form action="/fridge" method="POST">
  <label for="name">Item Name:</label>
  <input type="text" name="name" placeholder="Item" required><br>
  <br><br>
  <label for="expy_date">Expiration Date:</label>
  <input type="text" name="expy_date" placeholder="expiry_date" required>
  <br><br>
  <input type="submit" value="Create Item">
</form>