html{
    background-color: whitesmoke;
    font-family: 'Josefin Sans', sans-serif;
}
.danger{ 

    color: palevioletred; 

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-radius: 5px;
    height: 4em;
    background-color: lightgrey;
    padding-right: 100px;
    padding-left: 10px;
}

a{
    text-decoration: none;
    color: teal;
}

.navbar-logo{
   height: 4em; 
   width: 4em;
}

body{
    text-align: center; 
}

.table{
    text-align: left;
}

tbody{
    text-align: left;
}

a:hover{
    color: cornflowerblue;
}