
<h2>You have <%=current_user.fridge_items.length%> items in your Fridge </h2>
<ul>
<% current_user.fridge_items.all.sort {|a, b| a.name <=> b.name }.each do |item| %>
   <li><%= item.name %> <%= item.expy_date %> <a href='/fridge_items/<%= item.id %>/edit'> Edit Item </a></li>

<% end%>
</ul>
<br>

<a href='/fridge_items/new'> Make a new item</a>

<br><br>

<a href='/dashboard'> Return to your Dashboard </a>



