<h2>Welcome to your Fridge, <%= current_user.username %> </h2>


<a href='/fridge/index'>Open your Fridge</a>

<br><br>
<a href='/fridge/new'> Make a new item</a>

<br> <br>

<a href='/list/new'> Make a new Grocery List</a>







