<form class="table" action="/list" method="POST">
 <table>
    <thead>
      <tr>
        <th>Items</th>
        
      </tr>
    </thead>
    <tbody>
      <% 10.times do %>
      <tr>
        <td>
          <input type="text" name="items[][name]" >
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  
  <input type="submit" value="Create Item(s)">
</form>