<div class="navbar">
    <img class="navbar-logo" src="https://i.ya-webdesign.com/images/transparent-fridge-cartoon-3.png">
    <a href="/dashboard">Dashboard</a>
    <a href="/fridge">Fridge</a>
    <a href="/list">Grocery List</a>
    <a href="/account/edit">Edit Account</a>
    <a href='logout'>Log Out</a>
</div>