Am I real? 

<ul>
<% current_user.list_items.all.sort {|a, b| a.name <=> b.name }.each do |item| %>
   <li><%= item.name %> <a href='/list/edit'>Edit Item </a></li>
<% end%>
</ul>
<br><br>
<a href='/list/new'> Make a new item</a>

<br><br>

<a href='/dashboard'> Return to your Dashboard </a>